[*.cs]

dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1413.severity = none
dotnet_diagnostic.SA1513.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA1100.severity = none
dotnet_diagnostic.SA1119.severity = none
dotnet_diagnostic.SA1507.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1010.severity = none
dotnet_diagnostic.SA1005.severity = none
dotnet_diagnostic.SA1508.severity = none
dotnet_diagnostic.SA1121.severity = none
dotnet_diagnostic.SA1208.severity = none
dotnet_diagnostic.SA1629.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1027.severity = none
dotnet_diagnostic.SA1400.severity = none
dotnet_diagnostic.SA1401.severity = none
dotnet_diagnostic.SA1307.severity = none
dotnet_diagnostic.CS8602.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.CS8629.severity = none
dotnet_diagnostic.CS1998.severity = none
dotnet_diagnostic.IDE0305.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0017.severity = none
dotnet_diagnostic.IDE0036x.severity = none
